@model FavoriteHero.MarvelAPI.CharacterComicViewModel
@{
    ViewData["Title"] = "Favorite Hero";
}


<div class="col-md-4">
    <h2>@Model.Comic.Title</h2>
    <p>@Model.Comic.Description</p>
</div>
<div class="col-md-3">
    <img class="img-responsive rounded mb-lg-0 box box0 " src="@(String.Format("{0}.{1}", Model.Comic.Thumbnail.Path, Model.Comic.Thumbnail.Extension))" style="width:400px" alt="">
</div>
<div>
    
    

    <p>Characters:</p>
    @foreach (var character in Model.Characters)
    {
        <img class="img-responsive rounded mb-lg-0 box box0 " src="@(String.Format("{0}.{1}", character.Thumbnail.Path, character.Thumbnail.Extension))" style="width:200px" alt="">
        <p>@character.Name</p>
        
    }
    <h3>@Model.AttributionText</h3>


</div>


